<div
  class="flex flex-col gap-3 bg-slate-200 min-h-screen justify-center items-center"
>
  <div class="text-4xl text-orange-600 mb-10">
    Domestic Electricity Bill Calculator
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="flex flex-wrap bg-white items-center p-10 rounded-xl gap-3">
      <label for="from_date">From:</label>
      <input
        type="date"
        id="from_date"
        [(ngModel)]="from_date_string"
        name="from_date"
        class="border-2 rounded p-2"
      /><br />

      <label for="to_date">To:</label>
      <input
        type="date"
        id="to_date"
        [(ngModel)]="to_date_string"
        name="to_date"
        class="border-2 rounded p-2"
      /><br />

      <label for="units">Units:</label>
      <input
        type="number"
        id="units"
        [(ngModel)]="units"
        name="units"
        class="border-2 rounded p-2"
      /><br />

      <button
        type="submit"
        class="font-semibold bg-green-400 p-2 rounded-xl border-2"
      >
        Calculate
      </button>
    </div>
  </form>
  <div class="flex flex-col items-center bg-white p-3 rounded-xl w-1/3">
    <p class="p-2 text-xl font-bold text-red-700">Electricity Bill</p>
    <h2 class="text-lg font-semibold">
      Fixed Cost (LKR):{{ " " + fixed_cost }}
    </h2>
    <h2 class="text-lg font-semibold">
      Variable Cost (LKR):{{ " " + variable_cost }}
    </h2>
    <p class="text-red-700">{{ msg }}</p>
  </div>
</div>
